/* BASIC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
  background: #242943;;
}

.wrapper a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.wrapper a:active,
.wrapper a:focus {
  color: #53e3fb;
}

.wrapper a:hover {
  color: #9bf1ff;
}

/* HEADER */
.header {
  background-color: #2a2f4a;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  left: 0;
  box-shadow: 0 0 0.25em 0 rgb(0 0 0 / 15%);
  display: flex;
  font-weight: 600;
  height: 3.25em;
  text-transform: uppercase;
  line-height: 3.25em;
  letter-spacing: 0.25em;
}

.header .logo {
  display: inline-block;
  font-size: 0.8em;
  height: inherit;
  line-height: inherit;
  padding: 0 1.5em;
}

.header .logo strong {
  color: #242943;
  background: #fff;
  display: inline-block;
  padding: 0 0.125em 0 0.375em;
  margin-right: 0.325em;
  line-height: 1.65em;
  transition: all 0.2s ease-in-out;
}

.header .logo:hover strong {
  background: #9bf1ff;
}

.header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  height: inherit;
  line-height: inherit;
}

.header nav a {
  padding-right: 3.875em;
  font-size: 0.8em;
  padding-left: 0.75em;
  display: block;
  position: relative;
  font-weight: 600;
}

.header nav a::after,
.header nav a::before {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
  color: #fff;
  position: absolute;
  right: 2em;
  top: 0;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 32px;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.header nav a::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %239bf1ff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
  opacity: 0;
}

.header nav a:hover::after {
  opacity: 1;
}

/* BANNER */
.banner {
  height: 75vh;
  min-height: 30em;
  max-height: 50em;
  padding: 6em 0 2em 0;
  display: flex;
  align-items: center;
  background-image: url('./images/fabrizio-conti-kXVogATbFgA-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.banner::after {
  content: '';
  background-color: #242943;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  z-index: 1;
}

.banner .inner {
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
  z-index: 2;
}

.banner .inner .major {
  width: auto;
  margin-bottom: 2em;
}

.banner h1 {
  font-size: 3.25em;
  width: auto;
}

.banner h1::after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

.banner .inner .content {
  display: flex;
  align-items: center;
  margin: 0 0 2em 0;
}

.banner .inner .content p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.banner .inner .content > * {
  margin-right: 1.5em;
}

ul.actions {
  display: flex;
  list-style: none;
  margin-left: -1em;
}

ul.actions li {
  padding: 0 0 0 1em;
}

ul.actions li .button {
  padding-right: 4.5em !important;
  position: relative;
  box-shadow: inset 0 0 0 2px #ffffff;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  height: 3.5em;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 1.75em;
  line-height: 3.5em;
  transition: all 0.2s ease-in-out;
}
ul.actions li .button::after,
ul.actions li .button::before {
  content: '';
  height: 100%;
  position: absolute;
  right: 1.5em;
  top: 0;
  width: 36px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
}

ul.actions li .button::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
  opacity: 0;
}

ul.actions li .button:hover::after {
  opacity: 1;
}

ul.actions li .button:hover {
  box-shadow: inset 0 0 0 2px #9bf1ff;
}

.main {
  background-color: #2a2f4a;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tiles .tile {
  display: flex;
  width: 40%;
  padding: 4em 4em 2em 4em;
  align-items: center;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.tile:nth-child(4n-1),
.tile:nth-child(4n-2) {
  width: 60%;
}

.tiles .tile:first-child {
  background-image: url('./images/tom-winckels-I7oLRdM9YIw-unsplash.jpg');
}

.tiles .tile:nth-child(2) {
  background-image: url('./images/greg-rosenke-mBCsft4274I-unsplash.jpg');
}

.tiles .tile:nth-child(3) {
  background-image: url('./images/marina-YmQ0-nmWcV0-unsplash.jpg');
}

.tiles .tile:nth-child(4) {
  background-image: url('./images/sergey-shmidt-koy6FlCCy5s-unsplash.jpg');
}

.tiles .tile:nth-child(5) {
  background-image: url('./images/sid-balachandran-_9a-3NO5KJE-unsplash.jpg');
}

.tiles .tile:nth-child(6) {
  background-image: url('./images/ekamelev-Adpsgy4JFIE-unsplash.jpg');
}

.tiles .tile::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 1;
  opacity: 0.85;
}

.tiles .tile:nth-child(1)::before {
  background-color: #6fc3df;
}

.tiles .tile:nth-child(2)::before {
  background-color: #8d82c4;
}

.tiles .tile:nth-child(3)::before {
  background-color: #ec8d81;
}

.tiles .tile:nth-child(4)::before {
  background-color: #e7b788;
}

.tiles .tile:nth-child(5)::before {
  background-color: #8ea9e8;
}

.tiles .tile:nth-child(6)::before {
  background-color: #87c5a4;
}

.tiles .tile:hover::before {
  opacity: 0.1;
}

.tile header {
  margin-bottom: 2em;
  z-index: 2;
}

.tile header h3 {
  width: calc(100% + 0.5em);
  font-size: 1.75em;
  font-weight: 600;
}

.tile header h3::after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

.tile header p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.main > section .inner {
  padding: 4em 0 2em 0;
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
}

.main > section .inner header {
  width: max-content;
  margin-bottom: 2em;
}

.main > section .inner header h2 {
  width: calc(100% + 0.5em);
  font-size: 1.75em;
  font-weight: 600;
}

.main > section .inner header h2::after {
  content: '';
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}

.main > section .inner p {
  margin-bottom: 2em;
}

/* CONTACT */
